@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.container {
  background: url("../images/register.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  display: grid;
  place-items: center;
}

.background {
  background: rgba(0, 0, 0, 0.7);
  width: 35%;
  height: 70%;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.register-form input {
  /* padding: 2%; */
  width: 70%;
  height: 7%;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  font-size: larger;
}

.register-form input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.register-form button {
  width: 40%;
  height: 10%;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-size: larger;
  transition: 0.3s ease-in;
}

.register-form button:hover {
  background: rgba(255, 255, 255, 1);
  color: black;
}

.register-form a {
  color: rgba(255, 255, 255, 0.7);
}

.register-form a:hover {
  color: white;
}

.register-form a:visited {
  color: rgba(255, 255, 255, 0.7);
}
